<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <meta name="renderer" content="webkit">
  <title></title>
  <link rel="stylesheet" href="css/pintuer.css">
  <link rel="stylesheet" href="css/admin.css">
  <script src="js/jquery.js"></script>
  <script src="js/jquery.form.js"></script>
  <script src="js/pintuer.js"></script>
  <script type="text/javascript">
    $(function () {
      /*
       获取form元素，调用其ajaxForm(...)方法
       内部的function(data)的data就是后台返回的数据
      */
      $("#combined_tasks_form").ajaxForm(function (data) {
        if (data.message){
          alert(data.data);
        } else {
          alert(data.data);
        }
      });
    });

  </script>
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span>增加内容</strong></div>
  <div class="body-content">
    <form method="post" class="form-x" action="http://localhost:8080/GameShop/upgame.html" enctype="multipart/form-data">
      <div class="form-group">
        <div class="label" >
          <label>游戏名</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="description" data-validate="required:请输入游戏名"  id="gamename"/>
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label>图片：</label>
        </div>
        <div class="field">
          <!--          <input type="text" id="url1" name="img" class="input tips" style="width:25%; float:left;"  value=""  data-toggle="hover" data-place="right" data-image="" />-->
          <input type="file" class="button bg-blue margin-left" id="image" value="+ 浏览上传" name="myfile" style="float:left;">
          <input type="file" class="button bg-blue margin-left" id="file" value="+ 浏览上传" name="myfile" style="float:left;">
          <input type="file" class="button bg-blue margin-left" id="file2" value="+ 浏览上传" name="myfile" style="float:left;">
          <!--          <div class="tipss">图片尺寸：500*500</div>-->
        </div>
      </div>

      <if condition="$iscid eq 1">
        <div class="form-group">
          <div class="label">
            <label>游戏类型：</label>
          </div>
          <div class="field">
            <select name="description" class="input w50" id="gametype">
              <option value="">请选择分类</option>
              <option value="">动作</option>
              <option value="">冒险</option>
              <option value="">模拟</option>
              <option value="">角色扮演</option>
              <option value="">休闲</option>
              <option value="">其他</option>
            </select>
            <div class="tips"></div>
          </div>
        </div>

      </if>
      <div class="form-group">
        <div class="label">
          <label>描述：</label>
        </div>
        <div class="field">
          <textarea class="input" name="description" style=" height:90px;" id="message"></textarea>
          <div class="tips"></div>
        </div>
      </div>

      <div class="clear"></div>
      <div class="form-group">
        <div class="label">
          <label>价格：</label>
        </div>
        <div class="field">
          <input type="text" class="input w50" name="description" value="" id="price" />
          <div class="tips"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="label">
          <label></label>
        </div>
        <div class="field">
          <button class="button bg-main icon-check-square-o" type="submit" onclick="result()"> 提交</button>
          <!--         <button class="button bg-main icon-edit" type="button" onclick="changeGame()"> 修改</button>-->
        </div>

      </div>
    </form>
  </div>
</div>

</body></html>