<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title></title>  
    <link rel="stylesheet" href="css/pintuer.css">
    <link rel="stylesheet" href="css/admin.css">
    <script src="js/jquery.js"></script>
    <script src="js/pintuer.js"></script>
    <script>
        $(document).ready(function () {
            $.ajax({
                url: 'http://localhost:8080/showbuycar',
                type: 'Get',
                dataType: 'json',
                contentType: 'application/json',
                xhrFields:{
                    withCredentials:true
                },
                async: false,
                crossDomain:true,
                success: function (result) {
                    console.log(result.data)
                    if(result.state==450){
                        var str = '';
                        var carlist=result.data.buyCarList;
                        var gamelist=result.data.gameList;

                        for(var i=0;i<carlist.length ;i++){
                            str+="<tr>\n" +
                                "          <td><input type=\"checkbox\" name=\"id[]\" value=\""+carlist[i].buyCarId+"\" />\n" +
                                "            "+gamelist[i].gameId+"</td>\n" +
                                "          <td>"+gamelist[i].gameName+"</td>\n" +
                                "          <td>"+gamelist[i].gameValue+"</td>\n" +
                                "          <td>"+gamelist[i].gameType+"</td>  \n" +
                                "          <td><div class=\"button-group\"> <div class=\"button border-red\" onclick=\"Buy("+carlist[i].buyCarId+")\"><span class=\"icon-credit-card\"></span> 购买</div> </div><div class=\"button-group\"   onclick=\"dele("+carlist[i].buyCarId+")\"> <div class=\"button border-blue\"><span class=\"icon-trash-o\"></span> 删除</div> </div>\n" +
                                "          </td>\n" +
                                "\n" +
                                "        </tr>"
                        }
                        $("#data").html(str);
                    }else{
                            alert("cuowu");
                    }
                },
                error: function (e) {
                    alert("fail");
                }
            })
        })
        
        function dele(carID){
            $.ajax({
                url: 'http://localhost:8080/deletegamenumber/'+carID,
                type: 'Delete',
                dataType: 'json',
                contentType: 'application/json',
                xhrFields:{
                    withCredentials:true
                },
                async: false,
                crossDomain:true,
                success: function (result) {
                    if(result.state==450){
                        alert("删除成功");
                        location.reload();
                    }else{
                        alert("删除失败")
                    }
                },
                error: function (e) {
                    alert("fail");
                }
            })

        }

        function Buy(carID) {
            $.ajax({
                url: 'http://localhost:8080/buyGame/'+carID,
                type: 'POST',
                dataType: 'json',
                contentType: 'application/json',
                xhrFields:{
                    withCredentials:true
                },
                async: false,
                crossDomain:true,
                success: function (result) {
                    if(result.state==450){
                        alert("购买成功");
                        location.reload();
                    }else{
                        alert(result.data)
                    }
                },
                error: function (e) {
                    alert("fail");
                }
            })
        }
        
        
        function DelSelect(){
            var Checkbox=false;
            var Checkdata=[];
            $("input[name='id[]']").each(function(){
                if (this.checked==true) {
                    Checkbox=true;
                    Checkdata.push(parseInt($(this).val()));
                }
            });
            if (Checkbox){
                var t=confirm("您确认要删除选中的内容吗？");
                if (t==false) return false;
                $.ajax({
                    url: 'http://localhost:8080/deletegamenumberlist',
                    type: 'Delete',
                    dataType: 'json',
                    contentType: 'application/json',
                    xhrFields:{
                        withCredentials:true
                    },
                    data: JSON.stringify(Checkdata)
                    ,
                    async: false,
                    crossDomain:true,
                    success: function (result) {
                        if(result.state==450){
                            alert("删除成功");
                            location.reload();
                        }else{
                            alert("删除失败")
                        }
                    },
                    error: function (e) {
                        alert("fail");
                    }
                })

            }
            else{
                alert("请选择您要删除的内容!");
                return false;
            }
        }

        function Buymore(){
            var Checkbox=false;
            var Checkdata=[];
            $("input[name='id[]']").each(function(){
                if (this.checked==true) {
                    Checkbox=true;
                    Checkdata.push(parseInt($(this).val()));
                }
            });
            if (Checkbox){
                var t=confirm("您确认要删除选中的内容吗？");
                if (t==false) return false;
                $.ajax({
                    url: 'http://localhost:8080/deletegamenumberlist.html',
                    type: 'POST',
                    dataType: 'json',
                    contentType: 'application/json',
                    xhrFields:{
                        withCredentials:true
                    },
                    data: JSON.stringify({list:Checkdata})
                    ,
                    async: false,
                    crossDomain:true,
                    success: function (result) {
                        if(result.message){
                            alert("删除成功");
                            location.reload();
                        }else{
                            alert("删除失败")
                        }
                    },
                    error: function (e) {
                        alert("fail");
                    }
                })

            }
            else{
                alert("请选择您要删除的内容!");
                return false;
            }
        }
    </script>
</head>
<body>
<form method="post" action="">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 购物车管理</strong></div>
    <div class="padding border-bottom">
      <ul class="search">
        <li>
          <button type="button"  class="button border-green" id="checkall"><span class="icon-check"></span> 全选</button>
          <button type="button" class="button border-blue"  onclick="DelSelect()"><span class="icon-trash-o"></span> 批量删除</button>
        </li>
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th width="120">游戏ID</th>
        <th>游戏名</th>
        <th>价格</th>
        <th>游戏类型</th>


        <th>操作</th>       
      </tr>
        <tbody id="data">

        </tbody>

    </table>
  </div>
</form>
<script type="text/javascript">

function del(id){
	if(confirm("您确定要删除吗?")){
		
	}
}

$("#checkall").click(function(){ 
  $("input[name='id[]']").each(function(){
	  if (this.checked) {
		  this.checked = false;
	  }
	  else {
		  this.checked = true;
	  }
  });
})



</script>
</body></html>