<!DOCTYPE html>
<html>
<head>
	<title>用户数据</title>
    
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <script src="../js/jquery-1.8.3.min.js" type="text/javascript"></script>

    <!-- bootstrap -->
    <link href="../css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="../css/bootstrap/bootstrap-responsive.css" rel="stylesheet" />
    <link href="../css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet" />

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="../css/layout2.css" />
    <link rel="stylesheet" type="text/css" href="../css/elements.css" />
    <link rel="stylesheet" type="text/css" href="../css/icons.css" />

    <!-- libraries -->
    <link href="../css/lib/font-awesome.css" type="text/css" rel="stylesheet" />
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="../css/compiled/tables.css" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <![endif]-->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<script>
    var glabalsize=12;
    var glabalpage=1;
    $(document).ready(function () {
        mypage(1,1,12);
    });
</script>
<!--与后端交互每次交互4个数据 1。information 具体某一页的数据-->
<!--                      2。 page 当前是哪一页-->
<!--                        3。 pagesize一共有多少页-->
<!--                            4.交互的数据合理性 message-->
<script>
    function mypage1(role,page,dx) {
        console.log(page);
        $.ajax({
                url: "http://localhost:8080/GameShop/userpage.html",
                dataType: "json",
                data: JSON.stringify(
                    {
                        first:role,
                        second: {
                            currentPage: page.currentPage + dx,
                            totalPages: page.totalPages ,
                            pageSize: page.pageSize
                        }
                    }),
                type: "POST",
                xhrFields: {
                    withCredentials: true
                },
                contentType: 'application/json',
                crossDomain: true,
                success: function (result) {
                    if(result.message){
                        var mydata=result.data.array;
                        // var gobalpage=result.data.pagesize;
                        // var pagesize=reuslt.data.allsize;
                        var pages=result.data.page;
                        var str="";
                        var i;
                        for(i=0;i<mydata.length;i++){
                            str=str+ '<tr> <td>'+mydata[i].userId+'</td> <td>'+mydata[i].userName+'</td> <td>'+mydata[i].userPwd+'</td></tr>';
                            strx='<td>\n' +
                                '                                        <input type="text" id="changepwd" placeholder="修改密码 " >\n' +
                                '                                        <button onclick>确认</button>\n' +
                                '                                    </td>';
                            if(mydata.data.role==2){
                                stry='<select id="" style="width: 75px" >\n' +
                                    '    <option value=“ban”>禁用</option>\n' +
                                    '    <option value="normal">正常</option>\n' +
                                    '</select>';
                            }else{
                                stry='<select id="" style="width: 75px" >\n' +
                                    '    <option value="normal">正常</option>\n' +
                                    '    <option value=“ban”>禁用</option>\n' +
                                    '</select>';
                            }
                        }


                        $("#UserInfoList").html(str);
                        var str2='  <a href="javascript:void(0)" onclick="mypage1(1,pages,-pages.currentPage+1)">首页</a>';
                        var str4='  <a href="javascript:void(0)" onclick="mypage1(1,pages, pages.currentPage-1==0?0:-1)">上一页</a>';
                        // strpage="";
                        // for(i=1;i<=allsize;i++){
                        //     if(i==pagesize){
                        //         strpage=strpage+'<a href="javacript:mypage('+i+',12)" class="on">'+i+'</a>';
                        //     }else{
                        //         strpage=strpage+'<a href="javacript:mypage('+i+',12)" class="on">'+i+'</a>';
                        //     }
                        //
                        // }
                        var str5='<a href="javascript:void(0)" onclick="mypage1(1,pages,pages.currentPage+1==pages.totalPage?0:1)">下一页</a>';
                        var str3='<a href="javascript:void(0)" onclick="mypage1(1,pages,-pages.currentPage+pages.totalPages)">尾页</a>';

                        $("#mypagetool").html(str2+str4+str5+str3);
                    }
                }
            }
        )
    }
    function mypage(role,page,size){
        $.ajax({
            url: "http://localhost:8080/GameShop/userpagesize.html",
            dataType: "json",
            data:JSON.stringify({
                first:role,
                second:size
            }),
            type: "POST",
            xhrFields: {
                withCredentials: true
            },
            contentType:'application/json',
            crossDomain: true,
            success: function (result) {
                // console.log(result.data);
                if(result.message){
                    mypage1(role,result.data,0);

                }
            //     if(result.data){
            //     var mydata=result.data.information;
            //     var gobalpage=result.data.pagesize;
            //     var pagesize=reuslt.data.allsize;
            //     var str="";
            //     var i;
            //     for(i=0;i<mydata.length;i++){
            //         str=str+ '<tr> <td>'+mydata[i].userid+'</td> <td>'+mydata[i].userName+'</td> <td>'+mydata[i].userPwd+'</td></tr>';
            //         strx='<td>\n' +
            //             '                                        <input type="text" id="changepwd" placeholder="修改密码 " >\n' +
            //             '                                        <button onclick>确认</button>\n' +
            //             '                                    </td>';
            //         if(mydata.data.role==2){
            //             stry='<select id="" style="width: 75px" >\n' +
            //                 '    <option value=“ban”>禁用</option>\n' +
            //                 '    <option value="normal">正常</option>\n' +
            //                 '</select>';
            //         }else{
            //             stry='<select id="" style="width: 75px" >\n' +
            //                 '    <option value="normal">正常</option>\n' +
            //                 '    <option value=“ban”>禁用</option>\n' +
            //                 '</select>';
            //         }
            //     }
            //
            //
            //     $("#UserInfoList").html(str+strx+stry);
            //     var str2='  <a href="javascript:mypage(1,12)">首页</a>';
            //     var str4='<a href="javascript:mypage('+(pagesize-1)+',12)">上一页</a>';
            //     strpage="";
            //     for(i=1;i<=allsize;i++){
            //         if(i==pagesize){
            //             strpage=strpage+'<a href="javacript:mypage('+i+',12)" class="on">'+i+'</a>';
            //         }else{
            //             strpage=strpage+'<a href="javacript:mypage('+i+',12)" class="on">'+i+'</a>';
            //         }
            //
            //     }
            //     var str5='<a href="javascript:mypage('+(pagesize+1)+',12)">下一页</a>';
            //     var str3=  '<a href="javascript:mypage('+allsize+',12)">尾页</a>';
            //
            //     $("#mypagetool").html(str2+str4+strpage+str5+str3);
            // }
            }
        });

    }
</script>

<script>


</script>




<body>

    <!-- navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-inner">


            <a class="brand" href="index.html"><img src="../img/logo.png" /></a>

            <ul class="nav pull-right">




                <li class="settings hidden-phone">
                    <a href="Admin_Login.html" role="button">
                        <i class="icon-share-alt"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- end navbar -->

    <!-- sidebar -->
    <div id="sidebar-nav">
        <ul id="dashboard-menu">




            <li class="active">
                 <a href="Admin_UserInfo.html">
                    <div class="pointer">
                        <div class="arrow"></div>
                        <div class="arrow_border"></div>
                    </div>
                     <i class="icon-group"></i>
                     <span>Users</span>

                </a>
            </li>
            <li class="active">
                <a href="Admin_GameInfo.html">
                    <div class="pointer">
                        <div class="arrow"></div>
                        <div class="arrow_border"></div>
                    </div>
                    <i class="icon-th-large"></i>
                    <span>Games</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- end sidebar -->


	<!-- main container -->
    <div class="content">
        
        <!-- settings changer -->
        <div class="skins-nav">
            <a href="#" class="skin first_nav selected">
                <span class="icon"></span><span class="text">Default</span>
            </a>
            <a href="#" class="skin second_nav" data-file="css/skins/dark.css">
                <span class="icon"></span><span class="text">Dark skin</span>
            </a>
        </div>

        <div class="container-fluid">
            <div id="pad-wrapper">
                <!-- products table-->
                <!-- the script for the toggle all checkboxes from header is located in js/theme.js -->
                <div class="table-wrapper products-table section">
                    <div class="row-fluid head">
                        <div class="span12">
                            <h4>用户数据</h4>
                        </div>
                    </div>

                    <div class="row-fluid filter-block">
                        <div class="pull-right">
                            <input type="text" class="search" />
                        </div>
                    </div>






                    <div class="row-fluid">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th class="span3">

                                        <span class="line"></span>序号
                                    </th>
                                    <th class="span3">

                                        <span class="line"></span>用户名
                                    </th>
                                    <th class="span3">
                                        <span class="line"></span>密码
                                    </th>
                                    <th class="span3">
                                        <span class="line"></span>操作
                                    </th>
                                    <th class="span3">
                                        <span class="line"></span>状态
                                    </th>

                                </tr>
                            </thead>







                                    <tbody id="UserInfoList">
                                <!-- row -->
<!--                                <tr>-->
<!--                                    <td>1</td> <td>用户名</td>  <td>密码</td>-->
<!--                                    <td>-->
<!--                                        <input type="text"  style="width: 120px;" id="changepwd" placeholder="修改密码" >-->
<!--                                        <button>确认</button>-->
<!--                                    </td>-->
<!--                                    <td>-->
<!--                                        <select id="" style="width: 75px" >-->
<!--                                            <option value=“ban”>禁用</option>-->
<!--                                            <option value="normal">正常</option>-->
<!--                                        </select>-->
<!--                                    </td>-->
<!--                                </tr>-->
                                    </tbody>
                        </table>
                    </div>
                    <div class="Paging">
                        <div class="Pagination" id="mypagetool">

                        </div>

                    </div>
                </div>
                <!-- end products table -->









                </div>
                <!-- end users table -->
            </div>
        </div>
    </div>
    <!-- end main container -->

	<!-- scripts -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/theme.js"></script>
<div style="display:none"><script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script></div>
</body>
</html>